<nav>
  <ul>
    <li>
      <a 
        routerLink="/" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }">
        Template Driven
      </a>
    </li>
    <li>
      <a 
        routerLink="/ReactiveForms" 
        routerLinkActive="active">
        Reactive Forms
      </a>
    </li>
    <li>
      <a 
        routerLink="/myComponent" 
        routerLinkActive="active">
        my Component
      </a>
    </li>
    <li>
      <a 
      routerLink="/myServiceCall"
      routerLinkActive="active"
      >
        My Service Call
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
